<p id="notice"><%= notice %></p>

<p>
  <b> over:</b>
  <%= @external._over %>
</p>

<p>
  <b>Ballnum:</b>
  <%= @external.ballnum %>
</p>

<p>
  <b>Striker:</b>
  <%= @external.striker %>
</p>

<p>
  <b>Nonstriker:</b>
  <%= @external.nonstriker %>
</p>

<p>
  <b>Bowler:</b>
  <%= @external.bowler %>
</p>

<p>
  <b>Fielder:</b>
  <%= @external.fielder %>
</p>

<p>
  <b>Runs:</b>
  <%= @external.runs %>
</p>

<p>
  <b>Extras:</b>
  <%= @external.extras %>
</p>

<p>
  <b>Balltype:</b>
  <%= @external.balltype %>
</p>

<p>
  <b>Shottype:</b>
  <%= @external.shottype %>
</p>

<p>
  <b>Line:</b>
  <%= @external.line %>
</p>

<p>
  <b>Length:</b>
  <%= @external.length %>
</p>

<p>
  <b>Uncomfortable:</b>
  <%= @external.uncomfortable %>
</p>

<p>
  <b>Wicket:</b>
  <%= @external.wicket %>
</p>

<p>
  <b>Beaten:</b>
  <%= @external.beaten %>
</p>

<p>
  <b>Releaseshot:</b>
  <%= @external.releaseshot %>
</p>

<p>
  <b>Bowlingend:</b>
  <%= @external.bowlingend %>
</p>

<p>
  <b>Bowlingside:</b>
  <%= @external.bowlingside %>
</p>


<%= link_to 'Edit', edit_external_path(@external) %> |
<%= link_to 'Back', externals_path %>
