<div id='team_form'>  
  
  <div class="field" id="clientfield">
	<%= text_field_tag 'clientkey' , value=current_user.id, :hidden=>true %>
  </div>
  
  <table>
	<tr>
		<td class="caption">Country</td>
		<td class="fields"><%= select('countrykey' ,'team' ,@countries ,{}, {:id =>'country_select'}) %></td>
	</tr>
	<tr>
		<td class="caption">Format</td>
		<td class="fields"><%= select('team', 'formatkey', @formats, {},{:id =>'format_select'}) %></td>
	</tr>
  </table>  
  
  <table style='margin:5px'>
	<tr>
		<td>
		  <div class="selection">
			<div class="selection_window">
				<table>
					<% @players.each do |p| %>
						<tr class="player">
							<td class="playerid"><%= p.playerid %></td>
							<td class="playername" data-id="<%= p.id %>" data-country="<%= p.countrykey %>" data-format="<%= p.formatkey %>"><%= p.fullname %></td>
						</tr>
					<% end %>
				</table>
			</div>
		  </div>
		</td>
		<td>
			<div class="drag_over">
				<img alt="in_the_team" src="/assets/greater_than.png" id="intheteam" /><br/>
				<img alt="out_of_the_team" src="/assets/less_than.png" id="outoftheteam" />
			</div>
		</td>
		<td>
			<div class="selected">
			  <div class="selected_window">
				<table id="removable_players_table"></table>
			  </div>
			</div>
		</td>
	</tr>
  </table>
  

  


 <div id="teammaxid" style="display:none"><%= Team.maxteamid(current_user.id) %></div>
  <table>
	<tr>
		<td class="caption">Coach</td>
		<td class="fields"><%= select 'team', 'coachkey', Coach.all.collect {|t| [ t.name, t.id]}%></td>
	</tr>
	<tr>
		<td class="caption">Manager</td>
		<td class="fields"><%= select 'team', 'managerkey', Manager.all.collect {|t| [ t.name,t.id]} %></td>
	</tr>
	
	<tr>
		<td class="caption" id="maximumteamid" colspan="2">Enter <%= Team.maxteamid(current_user.id) %> or more</td>
	</tr>
	<tr>
		<td class="caption">Team ID</td>
		<td class="fields"><%= text_field 'team', 'teamid', :size=>20 %></td>
	</tr>
	<tr>
		<td class="caption">Team Type</td>
		<td class="fields"><%= select  'team', 'teamtypekey', @teamtypes %></td>
	</tr>
	
	<tr>
		<td class="caption">Team Name</td>
		<td class="fields"><%= text_field 'team', 'teamname', :size=>20 %></td>
	</tr>
  </table> 

  <div id="success_message"></div>   
  <div id="draft_team" class="actions">
	  <%= image_tag('/assets/create.png') %>
  </div>
 </div>