

<div id="tournament"><%= @tournament.name %></div>
<div id="team"><%= @teamone.teamname %> vs <%= @teamtwo.teamname %></div>
<div id="venue"><%= @formatarr[0] %> @ <%= @venue[0].venuename %></div>
<div id="inning"><%= @inning==1? 'First ':'Second ' %>Inning</div>
<div id="scores">Score:<%= @runs %>/<%= @wickets %><br/>Overs:<%= @overs %></div>

<div id="tournamentkey" style="display:none"><%= @tournament.id %></div>
<div id="teamoneid" style="display:none"><%= @teamone.teamid %></div>
<div id="teamtwoid" style="display:none"><%= @teamtwo.teamid %></div>
<div id="venuekey" style="display:none"><%= @venue[0].id %></div>
<div id="matchkey" style="display:none"><%= @match.id %></div>
<div id="formatkey" style="display:none"><%= @formatarr[1] %></div>
<div id="overs" style="display:none"><%= @overs %></div>
<div id="wicket" style="display:none"><%= @wickets %></div>
<div id="totalscore" style="display:none"><%= @runs %></div>
<div id="inningkey" style="display:none"><%= @inning %>Inning</div>
<div id="clientkey" style="display:none"><%= current_user.id %></div>
<div id="id" style="display:none"><%= @next_id %></div>

<div id="directionkey" style="display:none"></div>

<div id="scorecard">
		<table>
			<tr>
				<td class="scoring_numbers">0</td>
				<td class="scoring_numbers">1</td>
				<td class="scoring_numbers">2</td>
				<td class="scoring_numbers">3</td>
				<td class="scoring_numbers">4</td>
				<td class="scoring_numbers">5</td>
				<td class="scoring_numbers">6</td>
				<td class="scoring_numbers">7</td>
				<td class="scoring_numbers">8</td>
				<td class="scoring_numbers">Other</td>
			</tr>
		</table>
		
		<div>
			<table>
				<tr>
					<td class="scores_to_be_added_to">Runs</td>
					<td id="runs"><a href="#" class="big-link" data-reveal-id="myModal"><%= image_tag '/assets/up.png' %></a></td>
					<td class="scores_to_be_added_to">Wides</td>
					<td id="wides"><a href="#" class="big-link" data-reveal-id="myModal"><%= image_tag '/assets/up.png' %></a></td>
					<td class="scores_to_be_added_to">No Balls</td>
					<td id="noballs"><%= image_tag '/assets/up.png' %></td>
					<td class="scores_to_be_added_to">Byes</td>
					<td id="byes"><a href="#" class="big-link" data-reveal-id="myModal"><%= image_tag '/assets/up.png' %></a></td>
					<td class="scores_to_be_added_to">Leg Byes</td>
					<td id="legbyes"><a href="#" class="big-link" data-reveal-id="myModal"><%= image_tag '/assets/up.png' %></a></td>
				</tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr>
					<td></td>
					<td id="submit_runs"><%= image_tag '/assets/button.png', :width=>'100px' %></td>
				</tr>
			</table>
		</div>


		<div id="battingend"><%= select 'end', 'battingend' , @battingend.collect {|p| [ p['name'],p['value']]}, :selected=>@battingendkey %></div>
		<!--Current striker's balls before boundary and balls before run-->


		<div>
			<table id="batsmansort">
				<tbody>
					<th class="Batting_summary">Batsman</th>
					<th class="Batting_summary"></th>
					<th class="Batting_summary"></th>
					<th class="Batting_summary"></th>
					<th class="Batting_summary"></th>
					<th class="Batting_summary">Runs</th>
					<th class="Batting_summary">Balls Faced</th>
					<th class="Batting_summary">Strike Rate</th>
					<th class="Batting_summary">0's</th>
					<th class="Batting_summary">1's</th>
					<th class="Batting_summary">2's</th>
					<th class="Batting_summary">3's</th>
					<th class="Batting_summary">4's</th>
					<th class="Batting_summary">5's</th>
					<th class="Batting_summary">6's</th>

					
					<% @batsmen.each do |b| %>
						<tr class="highlight">
							<td class="Batsman <%= b[:hilite] %>" data-bts="<%= b[:bts] %>"><%= b[:name] %></td>
							<td class="batting_position"><%= select 'batsman' , 'battingposition', @battingposition.collect {|p| p} , {:selected=> b[:counter]}, { :disabled=>b[:disabled]} %></td>
							<td class="Batsmanid" style="display:none"><%= b[:playerid] %></td>
							<td class="Batsmankey" style="display:none"><%= b[:playerkey] %></td>
							<td class="Dismissaltype" style="width:20px"><%= select 'Dismissaltype', 'DismissalTypeKey' , @dismissals, { :selected=>b[:outtypekey]},{ :disabled=>b[:disabled]} %></td>
							<td class="fielder"><%= select 'fielder', 'fielderkey' , @fielders,  {:selected=>b[:fielderkey]}, { :disabled=>b[:disabled]} %></td>
							<td class="wktakingbowler"><%= select 'wktakingbowler', 'wktakingbowlerkey' , @wktakingbowlers,  {:selected=>b[:wktakingbowlerkey]}, { :disabled=>b[:disabled]} %></td>
							<td class="batsman_runs"><%= b[:runs] %></td>	
							<td class="batsman_balls_faced"><%= b[:ballsfaced] %></td>
							<td class="batsman_strikerate"><%= number_with_precision(b[:strikerate], :precision => 1) %></td>
							<td class="batsman_zeros"><%= b[:zeros] %></td>
							<td class="batsman_ones"><%= b[:ones] %></td>
							<td class="batsman_twos"><%= b[:twos] %></td>
							<td class="batsman_threes"><%= b[:threes] %></td>
							<td class="batsman_fours"><%= b[:fours] %></td>
							<td class="batsman_fives"><%= b[:fives] %></td>
							<td class="batsman_sixes"><%= b[:sixes] %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>


		<div id="bowlingend"><%= select 'end', 'bowlingend' , @battingend.collect {|p| [ p['name'],p['value']]}, :selected=>@bowlingendkey %></div>

		<div>
			<table id="bowlersort">
				<tbody>
					<th class="Bowling_summary">Bowlers</th>
					<th class="Bowling_summary"></th>
					<th class="Bowling_summary"></th>
					<th class="Bowling_summary">Spell</th>
					<th class="Bowling_summary">Overs</th>
					<th class="Bowling_summary">Runs</th>
					<th class="Bowling_summary">Maidens</th>
					<th class="Bowling_summary">Wickets</th>
					<th class="Bowling_summary">Economy</th>
					<th class="Bowling_summary">1's</th>
					<th class="Bowling_summary">2's</th>
					<th class="Bowling_summary">3's</th>
					<th class="Bowling_summary">4's</th>
					<th class="Bowling_summary">6's</th>
					<th class="Bowling_summary">WD</th>
					<th class="Bowling_summary">NB</th>
					<th class="Bowling_summary">OTH</th>

					
					<% @bowlers.each do |b| %>
						<% if b[:name] != '' %>
							<tr class="highlight">
								<td class="Bowler <%= b[:hilite] %>"><%= b[:name] %></td>
								<td class="bowling_side"><ul><li class="<%= b[:rtw] %>">RTW</li><li class="<%= b[:otw] %>">OTW</li></ul></td>
								<td class="bowling_position"><%= select 'bowler','bowlingposition', @bowlingposition.collect {|p| p} , :selected=> b[:bowlingposition] %></td>
								<td class="Bowlerid" style="display:none"><%= b[:playerid] %></td>
								<td class="Bowlerkey" style="display:none"><%= b[:playerkey] %></td>
								<td class="bowler_spell"><%= select 'bowler','spell', [0,1,2,3,4,5].collect {|p| p}  , :selected=> b[:spell] %></td>
								<td class="bowler_overs"><%= b[:overs] %></td>
								<td class="bowler_runs"><%= b[:runs] %></td>
								<td class="bowler_maidens"><%= b[:maidens] %></td>
								<td class="bowler_wickets"><%= b[:wickets] %></td>
								<td class="bowler_econ"><%= number_with_precision(b[:economy], :precision => 1) %></td>
								<td class="bowler_ones"><%= b[:ones] %></td>
								<td class="bowler_twos"><%= b[:twos] %></td>
								<td class="bowler_threes"><%= b[:threes] %></td>
								<td class="bowler_fours"><%= b[:fours] %></td>
								<td class="bowler_sixes"><%= b[:sixes] %></td>
								<td class="bowler_wides"><%= b[:wides] %></td>
								<td class="bowler_noballs"><%= b[:noballs] %></td>
								<td class="bowler_others"><%= b[:others] %></td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
</div>

	
<div id="myModal" class="reveal-modal">
	<div id="stumps"><%= image_tag('/assets/stumps.png') %></div>
	<table>
			<tr>
				<td class="header">Outside Off</td><td class="header">Stumps</td><td class="header">Pads</td><td class="header">Outside Leg</td>
			</tr>
			<tr>
				<td class='area area_t area_of' data-length="6" data-line="1">FT</td><td class='area area_t area_st' data-length="6" data-line="2" >FT</td><td class='area area_t area_pd' data-length="6" data-line="3" >FT</td><td class='area area_t area_ol' data-length="6" data-line="4" >FT</td>
			</tr>
			<tr>
				<td class='area area_y area_of' data-length="5" data-line="1">Y</td><td class='area area_y area_st' data-length="5" data-line="2">Y</td><td class='area area_y area_pd' data-length="5" data-line="3" >Y</td><td class='area area_y area_ol' data-length="5" data-line="4">Y</td>
			</tr>
			<tr>
				<td class='area area_f area_of' data-length="4" data-line="1">F</td><td class='area area_f area_st' data-length="4" data-line="2">F</td><td class='area area_f area_pd' data-length="4" data-line="3">F</td><td class='area area_f area_ol' data-length="4" data-line="4">F</td>
			</tr>
			<tr>
				<td class='area area_g area_of' data-length="3" data-line="1">G</td><td class='area area_g area_st' data-length="3" data-line="2">G</td><td class='area area_g area_pd' data-length="3" data-line="3">G</td><td class='area area_g area_ol' data-length="3" data-line="4">G</td>
			</tr>
			<tr>
				<td class='area area_sg area_of' data-length="2" data-line="1">SG</td><td class='area area_sg area_st' data-length="2" data-line="2">SG</td><td class='area area_sg area_pd' data-length="2" data-line="3">SG</td><td class='area area_sg area_ol' data-length="2" data-line="4">SG</td>
			</tr>
			<tr>
				<td class='area area_s area_of' data-length="1" data-line="1">S</td><td class='area area_s area_st' data-length="1" data-line="2">S</td><td class='area area_s area_pd' data-length="1" data-line="3">S</td><td class='area area_s area_ol' data-length="1" data-line="4">S</td>
			</tr>
	</table>
	<ul id="angle">
		<li class="angle_img" data-angle=1><%= image_tag('/assets/1.png') %></li>
		<li class="angle_img" data-angle=2><%= image_tag('/assets/2.png') %></li>
		<li class="angle_img" data-angle=3><%= image_tag('/assets/3.png') %></li>
		<li class="angle_img" data-angle=4><%= image_tag('/assets/4.png') %></li>
		<li class="angle_img" data-angle=5><%= image_tag('/assets/5.png') %></li>
		<li class="angle_img" data-angle=6><%= image_tag('/assets/6.png') %></li>
		<li class="angle_img" data-angle=7><%= image_tag('/assets/7.png') %></li>
		<li class="angle_img" data-angle=8><%= image_tag('/assets/8.png') %></li>
		<li class="angle_img" data-angle=9><%= image_tag('/assets/9.png') %></li>
	</ul>
	<table>
		<tr>
			<th align="left"  class="header">Shot Type</th>
		</tr>
		<tr><td class="dialog_td3"><%= select 'shottype','shottypekey', @shottypes.collect {|s| [s.shottype, s.id]}, {}, {:class=>'chzn-select', 'data-placeholder'=>'Select Shot Type', 'multiple style'=>'width:175px' , :tabindex=>"4"} %></td></tr>
	</table>
	<div id="holder"></div>
</div>


<table id="direction">
		<tbody>
			<tr data-order='a1'>
				<th scope="row">2Square Leg</th>
				<td>20%</td>
			</tr>
			<tr data-order='a2'>
				<th scope="row">1Fine Leg</th>
				<td>25%</td>
			</tr>
			<tr data-order='a3'>
				<th scope="row">8Third Man</th>
				<td>25%</td>
			</tr>
			<tr data-order='a4'>
				<th scope="row">7Point</th>
				<td>20%</td>
			</tr>
			<tr data-order='a5'>
				<th scope="row">6Cover</th>
				<td>25%</td>
			</tr>
			<tr data-order='a6'>
				<th scope="row">5Long Off</th>
				<td>20%</td>
			</tr>
			<tr data-order='a7'>
				<th scope="row" data-directionkey="7">4Long On</th>
				<td>20%</td>
			</tr>
			<tr data-order='a8'>
				<th scope="row" data-directionkey="8">3Mid Wicket</th>
				<td>25%</td>
			</tr>
		</tbody>
</table>

<div class="scorecard"><%= link_to '2nd Inning' , {:controller=>"scorecards", :action=>"match_scorecard_two", :id=>@match.id} %>
<%= link_to 'Current Match Status' , {:controller=>"matches", :action=>"match_status", :id=>@match.id} %>
</div>

<div class="vid">
	<video id="video" autoplay></video>
	<canvas id="canvas" style="display:none"></canvas>
</div>


<div class="row">
		<div class="span6 offset4">
			<a href="#" id="delete-replay" class="btn btn-primary btn-large">Delete Replay</a>
		</div>
</div>
    
	
	
	
