<div id="tournament"><%= @tournament.name %></div>
<div id="team"><%= @teamone.teamname %> vs <%= @teamtwo.teamname %></div>
<div id="venue"><%= @formatarr[0] %> @ <%= @venue[0].venuename %></div>
<div id="inning"><%= @inning==1? 'First ':'Second ' %>Inning</div>
<div id="scores">Score:<%= @runs %>/<%= @wickets %><br/>Overs:<%= @overs %></div>
<div id="target">Target: <%= @target[0].runs %></div>

<div id="tournamentkey" style="display:none"><%= @tournament.id %></div>
<div id="teamoneid" style="display:none"><%= @teamone.teamid %></div>
<div id="teamtwoid" style="display:none"><%= @teamtwo.teamid %></div>
<div id="venuekey" style="display:none"><%= @venue[0].id %></div>
<div id="matchkey" style="display:none"><%= @match.id %></div>
<div id="formatkey" style="display:none"><%= @formatarr[1] %></div>
<div id="overs" style="display:none"><%= @overs %></div>
<div id="wicket" style="display:none"><%= @wickets %></div>
<div id="totalscore" style="display:none"><%= @runs %></div>
<div id="inningkey" style="display:none"><%= @inning %>Inning</div>
<div id="clientkey" style="display:none"><%= current_user.id %></div>

<div id="scorecard">
		<table>
			<tr>
				<td class="scoring_numbers">0</td>
				<td class="scoring_numbers">1</td>
				<td class="scoring_numbers">2</td>
				<td class="scoring_numbers">3</td>
				<td class="scoring_numbers">4</td>
				<td class="scoring_numbers">5</td>
				<td class="scoring_numbers">6</td>
				<td class="scoring_numbers">7</td>
				<td class="scoring_numbers">8</td>
				<td class="scoring_numbers">Other</td>
			</tr>
		</table>

		<div>
			<table>
				<tr>
					<td class="scores_to_be_added_to">Runs</td>
					<td id="runs"><%= image_tag '/assets/up.png' %></td>
					<td class="scores_to_be_added_to">Wides</td>
					<td id="wides"><%= image_tag '/assets/up.png' %></td>
					<td class="scores_to_be_added_to">No Balls</td>
					<td id="noballs"><%= image_tag '/assets/up.png' %></td>
					<td class="scores_to_be_added_to">Byes</td>
					<td id="byes"><%= image_tag '/assets/up.png' %></td>
					<td class="scores_to_be_added_to">Leg Byes</td>
					<td id="legbyes"><%= image_tag '/assets/up.png' %></td>
				</tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr>
					<td></td><td id="submit_runs"><%= image_tag '/assets/button.png', :width=>'100px' %></td>
				</tr>

			</table>
		</div>


				<div id="battingend"><%= select 'end', 'battingend' , @battingend.collect {|p| [ p['name'],p['value']]}, :selected=>@battingendkey %></div>
		<!--Current striker's balls before boundary and balls before run-->


		<div>
			<table id="batsmansort">
				<tbody>
					<th class="Batting_summary">Batsman</th>
					<th class="Batting_summary"></th>
					<th class="Batting_summary"></th>
					<th class="Batting_summary"></th>
					<th class="Batting_summary"></th>
					<th class="Batting_summary">Runs</th>
					<th class="Batting_summary">Balls Faced</th>
					<th class="Batting_summary">Strike Rate</th>
					<th class="Batting_summary">0's</th>
					<th class="Batting_summary">1's</th>
					<th class="Batting_summary">2's</th>
					<th class="Batting_summary">3's</th>
					<th class="Batting_summary">4's</th>
					<th class="Batting_summary">5's</th>
					<th class="Batting_summary">6's</th>

					
					<% @batsmen.each do |b| %>
						<tr class="highlight">
							<td class="Batsman <%= b[:hilite] %>" ><%= b[:name] %></td>
							<td class="batting_position"><%= select 'batsman' , 'battingposition', @battingposition.collect {|p| p} , {:selected=> b[:counter]}, { :disabled=>b[:disabled]} %></td>
							<td class="Batsmanid" style="display:none"><%= b[:playerid] %></td>
							<td class="Batsmankey" style="display:none"><%= b[:playerkey] %></td>
							<td class="Dismissaltype"><%= select 'Dismissaltype', 'DismissalTypeKey' , @dismissals, { :selected=>b[:outtypekey]},{ :disabled=>b[:disabled]} %></td>
							<td class="fielder"><%= select 'fielder', 'fielderkey' , @fielders,  {:selected=>b[:fielderkey]}, { :disabled=>b[:disabled]} %></td>
							<td class="wktakingbowler"><%= select 'wktakingbowler', 'wktakingbowlerkey' , @wktakingbowlers,  {:selected=>b[:wktakingbowlerkey]}, { :disabled=>b[:disabled]} %></td>
							<td class="batsman_runs"><%= b[:runs] %></td>	
							<td class="batsman_balls_faced"><%= b[:ballsfaced] %></td>
							<td class="batsman_strikerate"><%= number_with_precision(b[:strikerate], :precision => 1) %></td>
							<td class="batsman_zeros"><%= b[:zeros] %></td>
							<td class="batsman_ones"><%= b[:ones] %></td>
							<td class="batsman_twos"><%= b[:twos] %></td>
							<td class="batsman_threes"><%= b[:threes] %></td>
							<td class="batsman_fours"><%= b[:fours] %></td>
							<td class="batsman_fives"><%= b[:fives] %></td>
							<td class="batsman_sixes"><%= b[:sixes] %></td>
							<td class="ballsbeforeboundary" style="display:none"><%= b[:ballsbeforeboundary] %></td>
							<td class="ballsbeforerun" style="display:none"><%= b[:ballsbeforerun] %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>


		<div id="bowlingend"><%= select 'end', 'bowlingend' , @battingend.collect {|p| [ p['name'],p['value']]}, :selected=>@bowlingendkey %></div>

		<div>
			<table>
				<tbody>
					<th class="Bowling_summary">Bowlers</th>
					<th class="Bowling_summary"></th>
					<th class="Bowling_summary">Overs</th>
					<th class="Bowling_summary">Runs</th>
					<th class="Bowling_summary">Maidens</th>
					<th class="Bowling_summary">Wickets</th>
					<th class="Bowling_summary">Economy</th>
					<th class="Bowling_summary">0's</th>
					<th class="Bowling_summary">1's</th>
					<th class="Bowling_summary">2's</th>
					<th class="Bowling_summary">3's</th>
					<th class="Bowling_summary">4's</th>
					<th class="Bowling_summary">5's</th>
					<th class="Bowling_summary">6's</th>

					
					<% @bowlers.each do |b| %>
						<% if b[:name] != '' %>
							<tr class="highlight">
								<td class="Bowler <%= b[:hilite] %>"><%= b[:name] %></td>
								<td class="bowling_side"><ul><li class="<%= b[:rtw] %>">RTW</li><li class="<%= b[:otw] %>">OTW</li></ul></td>
								<td class="bowling_position"><%= select 'bowler' , 'bowlingposition', @bowlingposition.collect {|p| p} , :selected=> b[:bowlingposition] %></td>
								<td class="Bowlerid" style="display:none"><%= b[:playerid] %></td>
								<td class="Bowlerkey" style="display:none"><%= b[:playerkey] %></td>
								<td class="bowler_overs"><%= b[:overs] %></td>
								<td class="bowler_runs"><%= b[:runs] %></td>
								<td class="bowler_maidens"><%= b[:maidens] %></td>
								<td class="bowler_wickets"><%= b[:wickets] %></td>
								<td class="bowler_econ"><%= number_with_precision(b[:economy], :precision => 1) %></td>
								<td class="bowler_zeros"><%= b[:zeros] %></td>
								<td class="bowler_ones"><%= b[:ones] %></td>
								<td class="bowler_twos"><%= b[:twos] %></td>
								<td class="bowler_threes"><%= b[:threes] %></td>
								<td class="bowler_fours"><%= b[:fours] %></td>
								<td class="bowler_fives"><%= b[:fives] %></td>
								<td class="bowler_sixes"><%= b[:sixes] %></td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
</div>

<div id="dialog-form" title="Select Length, Line, Shot Type">
    <table>
		<tr>
			<th align="left">Line</th>
		</tr>
		<tr>
			<% @lines.each do |l| %>
				<td class="dialog_td1" data-line="<%= l.id %>"><%= l.line %></td>
			<% end %>
		</tr>
		<tr>
			<th align="left">Length</th>
		</tr>
		<tr>
			<% @lengths.each do |l| %>
				<td class="dialog_td2" data-length="<%= l.id %>"><%= l.length %></td>
			<% end %>
		</tr>
	</table>
	
	<table>
		<tr>
			<th align="left">Shot Type</th>
		</tr>
		<tr><td class="dialog_td3"><%= select 'shottype','shottypekey', @shottypes.collect {|s| [s.shottype, s.id]}, {}, {:class=>'chzn-select', 'data-placeholder'=>'Select Shot Type', 'multiple style'=>'width:250px' , :tabindex=>"4"} %></td></tr>
	</table>
	<button id="btn-submit">Submit</button>
	<button id="btn-cancel">Cancel</button>
</div>

<%= link_to '1st Inning' ,  {:controller=>"scorecards", :action=>"match_scorecard_one", :id=>@match.id} %>
     