<div id="pdf_page">
		<div style="text-align:center"><%= @match.matchdate %></div>
		<div style="text-align:center"><%= @tournament.name %></div>
		<div style="text-align:center"><%= @teamone.teamname %> vs <%= @teamtwo.teamname %></div>
		<div style="text-align:center"><%= @formatarr[0] %> @ <%= @venue[0].venuename %></div>
		<div >Score:<%= @runs %>/<%= @wickets %><br/>Overs:<%= @overs %></div>
		<br/>
		<div>First Inning</div>
		<div id="inning_one">

				<div>
					<table class="pdf_scorecard" style="font-weight:10px">
						<th width="120px">Batsman</th>
						<th width="60px"></th>
						<th width="120px"></th>
						<th width="120px"></th>
						<th width="50px">Runs</th>
						<th width="50px">Balls Faced</th>
						<th width="50px">Strike Rate</th>
						<th width="50px">4's</th>
						<th width="50px">6's</th>
						<% @batsmen.each do |b| %>
							<tr>
								<td style="border-bottom:1px solid black"><%= b[:name] %></td>
								<td style="border-bottom:1px solid black"><%= b[:outtypekey]==-2? '':@dismissals[b[:outtypekey]].dismissaltype %></td>
								<td style="border-bottom:1px solid black"><%= @fielders[b[:fielderkey]] %></td>
								<td style="border-bottom:1px solid black"><%= @wktakingbowlers[b[:wktakingbowlerkey]] %></td>
								<td style="border-bottom:1px solid black" b[:runs] %></td>	
								<td style="border-bottom:1px solid black"><%= b[:ballsfaced] %></td>
								<td style="border-bottom:1px solid black"><%= number_with_precision(b[:strikerate], :precision => 1) %></td>
								<td style="border-bottom:1px solid black"><%= b[:fours] %></td>
								<td style="border-bottom:1px solid black"><%= b[:sixes] %></td>
							</tr>
						<% end %>
					</table>
				</div>

				<br/>
				<div>
					<table class="pdf_scorecard" style="font-weight:10px">
						<th width="120px">Bowlers</th>
						<th width="50px">Overs</th>
						<th width="50px">Runs</th>
						<th width="50px">Maidens</th>
						<th width="50px">Wickets</th>
						<th width="50px">Economy</th>
						<th width="50px">4's</th>
						<th width="50px">6's</th>

						
						<% @bowlers.each do |b| %>
							<% if b[:name] != '' %>
								<tr>
									<td style="border-bottom:1px solid black"><%= b[:name] %></td>
									<td style="border-bottom:1px solid black"><%= b[:overs] %></td>
									<td style="border-bottom:1px solid black"><%= b[:runs] %></td>
									<td style="border-bottom:1px solid black"><%= b[:maidens] %></td>
									<td style="border-bottom:1px solid black"><%= b[:wickets] %></td>
									<td style="border-bottom:1px solid black"><%= number_with_precision(b[:economy], :precision => 1) %></td>
									<td style="border-bottom:1px solid black"><%= b[:fours] %></td>
									<td style="border-bottom:1px solid black"><%= b[:sixes] %></td>
								</tr>
							<% end %>
						<% end %>
					</table>
				</div>
		</div>
		<br/>
		<br/>		
		--------------------------------------------------------------------------------------------------------------------------------------------------------------	
		<br/>
		<br/>
		<div>Score:<%= @runs1 %>/<%= @wickets1 %><br/>Overs:<%= @overs1 %></br>Target:<%= @runs %></div>
		<br/>
		<div>Second Inning</div>
		<div id="inning_two">
				<div>
					<table class="pdf_scorecard" style="font-weight:10px">
						<tr>
							<th width="120px">Batsman</th>
							<th width="60px"></th>
							<th width="120px"></th>
							<th width="120px"></th>
							<th width="50px">Runs</th>
							<th width="50px">Balls Faced</th>
							<th width="50px">Strike Rate</th>
							<th width="50px">4's</th>
							<th width="50px">6's</th>
						</tr>

						
						<% @batsmen1.each do |b| %>
							<tr>
								<td style="border-bottom:1px solid black"><%= b[:name] %></td>
								<td style="border-bottom:1px solid black"><%= b[:outtypekey]==-2? '':@dismissals[b[:outtypekey]].dismissaltype %></td>
								<td style="border-bottom:1px solid black"><%= @fielders[b[:fielderkey]] %></td>
								<td style="border-bottom:1px solid black"><%= @wktakingbowlers[b[:wktakingbowlerkey]] %></td>
								<td style="border-bottom:1px solid black"><%= b[:runs] %></td>	
								<td style="border-bottom:1px solid black"><%= b[:ballsfaced] %></td>
								<td style="border-bottom:1px solid black"><%= number_with_precision(b[:strikerate], :precision => 1) %></td>
								<td style="border-bottom:1px solid black"><%= b[:fours] %></td>
								<td style="border-bottom:1px solid black"><%= b[:sixes] %></td>
							</tr>
						<% end %>
					</table>
				</div>


				<div>
					<table class="pdf_scorecard" style="font-weight:10px">
						<th width="120px">Bowlers</th>
						<th width="50px">Overs</th>
						<th width="50px">Runs</th>
						<th width="50px">Maidens</th>
						<th width="50px">Wickets</th>
						<th width="50px">Economy</th>
						<th width="50px">4's</th>
						<th width="50px">6's</th>

						
						<% @bowlers1.each do |b| %>
							<% if b[:name] != '' %>
								<tr>
									<td style="border-bottom:1px solid black"><%= b[:name] %></td>
									<td style="border-bottom:1px solid black"><%= b[:overs] %></td>
									<td style="border-bottom:1px solid black"><%= b[:runs] %></td>
									<td style="border-bottom:1px solid black"><%= b[:maidens] %></td>
									<td style="border-bottom:1px solid black"><%= b[:wickets] %></td>
									<td style="border-bottom:1px solid black"><%= number_with_precision(b[:economy], :precision => 1) %></td>
									<td style="border-bottom:1px solid black"><%= b[:fours] %></td>
									<td style="border-bottom:1px solid black"><%= b[:sixes] %></td>
								</tr>
							<% end %>
						<% end %>
					</table>
				</div>
		</div>
</div>