<p id="notice"><%= notice %></p>

<p>
  <b>Ballsbeforeboundary:</b>
  <%= @scorecard.ballsbeforeboundary %>
</p>

<p>
  <b>Ballsbeforerun:</b>
  <%= @scorecard.ballsbeforerun %>
</p>

<p>
  <b>Ballsdelivered:</b>
  <%= @scorecard.ballsdelivered %>
</p>

<p>
  <b>Ballsfaced:</b>
  <%= @scorecard.ballsfaced %>
</p>

<p>
  <b>Batsmankey:</b>
  <%= @scorecard.batsmankey %>
</p>

<p>
  <b>Battingendkey:</b>
  <%= @scorecard.battingendkey %>
</p>

<p>
  <b>Battingposition:</b>
  <%= @scorecard.battingposition %>
</p>

<p>
  <b>Bowlerkey:</b>
  <%= @scorecard.bowlerkey %>
</p>

<p>
  <b>Bowlingendkey:</b>
  <%= @scorecard.bowlingendkey %>
</p>

<p>
  <b>Bowlingposition:</b>
  <%= @scorecard.bowlingposition %>
</p>

<p>
  <b>Byes:</b>
  <%= @scorecard.byes %>
</p>

<p>
  <b>Currentstrikerkey:</b>
  <%= @scorecard.currentstrikerkey %>
</p>

<p>
  <b>Currentnonstrikerkey:</b>
  <%= @scorecard.currentnonstrikerkey %>
</p>

<p>
  <b>Eights:</b>
  <%= @scorecard.eights %>
</p>

<p>
  <b>Fielderkey:</b>
  <%= @scorecard.fielderkey %>
</p>

<p>
  <b>Fives:</b>
  <%= @scorecard.fives %>
</p>

<p>
  <b>Formatkey:</b>
  <%= @scorecard.formatkey %>
</p>

<p>
  <b>Fours:</b>
  <%= @scorecard.fours %>
</p>

<p>
  <b>Inning:</b>
  <%= @scorecard.inning %>
</p>

<p>
  <b>Legbyes:</b>
  <%= @scorecard.legbyes %>
</p>

<p>
  <b>Maiden:</b>
  <%= @scorecard.maiden %>
</p>

<p>
  <b>Matchkey:</b>
  <%= @scorecard.matchkey %>
</p>

<p>
  <b>Noballs:</b>
  <%= @scorecard.noballs %>
</p>

<p>
  <b>Ones:</b>
  <%= @scorecard.ones %>
</p>

<p>
  <b>Others:</b>
  <%= @scorecard.others %>
</p>

<p>
  <b>Outtypekey:</b>
  <%= @scorecard.outtypekey %>
</p>

<p>
  <b>Outbywk:</b>
  <%= @scorecard.outbywk %>
</p>

<p>
  <b>Runs:</b>
  <%= @scorecard.runs %>
</p>

<p>
  <b>Sevens:</b>
  <%= @scorecard.sevens %>
</p>

<p>
  <b>Sixes:</b>
  <%= @scorecard.sixes %>
</p>

<p>
  <b>Teamidone:</b>
  <%= @scorecard.teamidone %>
</p>

<p>
  <b>Teamtwoid:</b>
  <%= @scorecard.teamtwoid %>
</p>

<p>
  <b>Threes:</b>
  <%= @scorecard.threes %>
</p>

<p>
  <b>Tournamentkey:</b>
  <%= @scorecard.tournamentkey %>
</p>

<p>
  <b>Twos:</b>
  <%= @scorecard.twos %>
</p>

<p>
  <b>Venuekey:</b>
  <%= @scorecard.venuekey %>
</p>

<p>
  <b>Wicket:</b>
  <%= @scorecard.wicket %>
</p>

<p>
  <b>Wides:</b>
  <%= @scorecard.wides %>
</p>

<p>
  <b>Zeros:</b>
  <%= @scorecard.zeros %>
</p>

<p>
  <b>Dismissedbatsmankey:</b>
  <%= @scorecard.dismissedbatsmankey %>
</p>


<%= link_to 'Edit', edit_scorecard_path(@scorecard) %> |
<%= link_to 'Back', scorecards_path %>
