<p id="notice"><%= notice %></p>

<p>
  <b>Clientkey:</b>
  <%= @clientconfig.clientkey %>
</p>

<p>
  <b>Runs:</b>
  <%= @clientconfig.runs %>
</p>

<p>
  <b>Avg:</b>
  <%= @clientconfig.avg %>
</p>

<p>
  <b>Sr:</b>
  <%= @clientconfig.sr %>
</p>

<p>
  <b>Dsmsl:</b>
  <%= @clientconfig.dsmsl %>
</p>

<p>
  <b>Bbh:</b>
  <%= @clientconfig.bbh %>
</p>

<p>
  <b>Bbb:</b>
  <%= @clientconfig.bbb %>
</p>

<p>
  <b>Mtchwon:</b>
  <%= @clientconfig.mtchwon %>
</p>

<p>
  <b>Mtchlost:</b>
  <%= @clientconfig.mtchlost %>
</p>

<p>
  <b>Inns:</b>
  <%= @clientconfig.inns %>
</p>

<p>
  <b>Zero:</b>
  <%= @clientconfig.zero %>
</p>

<p>
  <b>One:</b>
  <%= @clientconfig.one %>
</p>

<p>
  <b>Two:</b>
  <%= @clientconfig.two %>
</p>

<p>
  <b>Three:</b>
  <%= @clientconfig.three %>
</p>

<p>
  <b>Four:</b>
  <%= @clientconfig.four %>
</p>

<p>
  <b>Five:</b>
  <%= @clientconfig.five %>
</p>

<p>
  <b>Six:</b>
  <%= @clientconfig.six %>
</p>

<p>
  <b>Wides:</b>
  <%= @clientconfig.wides %>
</p>

<p>
  <b>Noballs:</b>
  <%= @clientconfig.noballs %>
</p>

<p>
  <b>Byes:</b>
  <%= @clientconfig.byes %>
</p>

<p>
  <b>Legbyes:</b>
  <%= @clientconfig.legbyes %>
</p>

<p>
  <b>Extras:</b>
  <%= @clientconfig.extras %>
</p>

<p>
  <b>Covrsnratio:</b>
  <%= @clientconfig.covrsnratio %>
</p>


<%= link_to 'Edit', edit_clientconfig_path(@clientconfig) %> |
<%= link_to 'Back', clientconfigs_path %>
