<%= form_for(@manager, :remote=>true) do |f| %>
  <% if @manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manager.errors.count, "error") %> prohibited this manager from being saved:</h2>

      <ul>
      <% @manager.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.number_field :clientkey, :value=> current_user.id, :hidden=>true %>
  </div>
  <table align="center">
	<tr>
		<td class="caption">Manager</td>
		<td class="fields"><%= f.text_field :name, :size=>"20" %></td>
	</tr>
  </table>
  <div id="success_message"></div>
  <div class="actions">
    <%= f.submit "", :class=>'submit', :type => :image, :src => @img, :data=>@dImg  %>
  </div>
<% end %>

