<div class="x" style="display:none">1</div>


<div id="signin_form">
	<%= form_for(:client, :url => new_session_path) do |f| %>
	  <div class="fields">
		<%= f.label :username , "User Name" %><br/>
		<%= f.text_field :username, :size=>"15"  %>
	  </div>
	  <div class="fields">
		<%= f.label :password %><br/>
		<%= f.password_field :password, :size=>"15" %>
	  </div>
	  <div class="actions" id="submit">
		<%= f.submit "Sign In" %>
	  </div>
	  <div id="forgotu"><%= link_to 'Forgot Username', username_path %></div>
	  <div id="forgotp"><%= link_to 'Forgot Password', password_path %></div>
	<% end %>
	


</div>



<div id="signin_title">cric<%= image_tag('/assets/cricketball.png') %>it<%= image_tag('/assets/cricketball.png') %>down</div>
<div class="sfa">
	<p><b>About</b></p><p id="description"><b><i>cricitdown</i></b> is about breaking a raw scorecard runs into a meaningful data. It disects, and bisects runs, averages, partnerships, conversion ratios, and many other useful metrics by different attributes such as players, teams, venues, year, month and different other useful attributes, and give you a useful information in graphical format. Thus, this tool helps you identify problem areas for players and a team as a whole, and helps you make a smart decision to correct such areas. </p>
</div>

<div class="sfhi">
	<%= image_tag('/assets/analysis.png' , :height=>100 ,:widht=>200) %>
</div>

<div class="sfh">
	<p><b>Highlight</b></p><p id="description"><b><i>cricitdown</i></b> lets you maintain your own sets of players, tournaments, matches, and scorecards. It lets you save the scorecard in a pdf format.  </p>
</div>

<div class="sfc">
	<p><b>Contact</b></p><p id="description"><b><i>cricitdown@gmail.com</i></b></p>
</div>




