<h2>
	Upload Scorecard
</h2>

<%= form_tag '/attachments' , :multipart=>true  do %>
  <div class="fields">
    Tournament: <br />
    <%= select_tag('tournamentkey', options_for_select(@tournaments)) %>
  </div>
    <div class="fields">
    Venue: <br />
    <%= select_tag 'venuekey', options_for_select(@venues) %>
  </div>
    <div class="fields">
    Match: <br />
    <%= select_tag 'matchkey', options_for_select(@matches) %>
  </div>
  <div class="fields">
	<%= file_field_tag 'attachment' %>
    <%= submit_tag "Send Attachment" %>
  </div> 
<% end %>


