<p id="notice"><%= notice %></p>

<p>
  <b>Age:</b>
  <%= @player.age %>
</p>

<p>
  <b>Battingstyle:</b>
  <%= @player.battingstyle %>
</p>

<p>
  <b>Bowlingstyle:</b>
  <%= @player.bowlingstyle %>
</p>

<p>
  <b>Bowlingtype:</b>
  <%= @player.bowlingtype %>
</p>

<p>
  <b>Dob:</b>
  <%= @player.dob %>
</p>

<p>
  <b>Fname:</b>
  <%= @player.fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @player.lname %>
</p>

<p>
  <b>Format:</b>
  <%= @player.format %>
</p>

<p>
  <b>Formatkey:</b>
  <%= @player.formatkey %>
</p>

<p>
  <b>Fullname:</b>
  <%= @player.fullname %>
</p>

<p>
  <b>Playertype:</b>
  <%= @player.playertype %>
</p>

<p>
  <b>Wh current:</b>
  <%= @player.wh_current %>
</p>

<p>
  <b>Playerid:</b>
  <%= @player.playerid %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
