<h2>Choose One From The List</h2>

<div id="public_clients"><%= select 'public_client', 'clientkey', @clients.collect {|c| [c.country, c.id]}, {}, {:class=>'chzn-select', 'data-placeholder'=>'Analysis of ...', 'single style'=>'width:250px' , :tabindex=>"4"} %></div>

<table id="public_match_table" cellspacing="0" cellpadding="0" >
  <tr>
    <th>Match Type</th>
    <th>Team One</th>
    <th>Team Two</th>
    <th>Tournament</th>
    <th>Venue</th>
	<th>Pitch Condition</th>
    <th>Match Date</th>
    <th>Time of Match</th>
    <th>Winner</th>
    <th>Details</th>
    <th>Format</th>
	<th></th>
  </tr>

<% @matches.each do |match| %>
  <tr class="public_match" data-clientkey="<%= match.clientkey %>" style="display:none">
    <td><%= match.getMatchType %></td>
    <td><%= match.getTeamOne(match.clientkey) %></td>
    <td><%= match.getTeamTwo(match.clientkey) %></td>
    <td><%= match.getTournament %></td>
    <td><%= match.getVenue %></td>
	<td><%= match.pitchcondition %></td>
    <td><%= match.matchdate %></td>
    <td><%= match.dayandnite == 1? 'Day' : 'D/N' %></td>
    <td><%= match.getWinner(match.clientkey) %></td>
    <td><%= match.details %></td>
    <td><%= match.getFormat %></td>
	<td><%= link_to 'Scorecard', {:controller=>'matches', :action=>'scorecard' , :id=>match.id, :clientkey=>match.clientkey} %></td>
  </tr>
<% end %>
</table>