<p id="notice"><%= notice %></p>

<p>
  <b>Akey:</b>
  <%= @report.akey %>
</p>

<p>
  <b>Ckey:</b>
  <%= @report.ckey %>
</p>

<p>
  <b>Fkey:</b>
  <%= @report.fkey %>
</p>

<p>
  <b>Tkey:</b>
  <%= @report.tkey %>
</p>

<p>
  <b>Inn:</b>
  <%= @report.inn %>
</p>

<p>
  <b>Vkey:</b>
  <%= @report.vkey %>
</p>

<p>
  <b>Ttkey:</b>
  <%= @report.ttkey %>
</p>

<p>
  <b>Tmkey:</b>
  <%= @report.tmkey %>
</p>

<p>
  <b>Mtkey:</b>
  <%= @report.mtkey %>
</p>

<p>
  <b>Chkey:</b>
  <%= @report.chkey %>
</p>

<p>
  <b>Mkey:</b>
  <%= @report.mkey %>
</p>

<p>
  <b>Ptname:</b>
  <%= @report.ptname %>
</p>

<p>
  <b>Ekey:</b>
  <%= @report.ekey %>
</p>

<p>
  <b>Btkey:</b>
  <%= @report.btkey %>
</p>

<p>
  <b>Bts:</b>
  <%= @report.bts %>
</p>

<p>
  <b>Bp:</b>
  <%= @report.bp %>
</p>

<p>
  <b>St:</b>
  <%= @report.st %>
</p>

<p>
  <b>Sd:</b>
  <%= @report.sd %>
</p>

<p>
  <b>Pckey:</b>
  <%= @report.pckey %>
</p>

<p>
  <b>Ckey1:</b>
  <%= @report.ckey1 %>
</p>

<p>
  <b>Fkey1:</b>
  <%= @report.fkey1 %>
</p>

<p>
  <b>Tkey1:</b>
  <%= @report.tkey1 %>
</p>

<p>
  <b>Inn1:</b>
  <%= @report.inn1 %>
</p>

<p>
  <b>Vkey1:</b>
  <%= @report.vkey1 %>
</p>

<p>
  <b>Ttkey1:</b>
  <%= @report.ttkey1 %>
</p>

<p>
  <b>Tmkey1:</b>
  <%= @report.tmkey1 %>
</p>

<p>
  <b>Mtkey1:</b>
  <%= @report.mtkey1 %>
</p>

<p>
  <b>Chkey1:</b>
  <%= @report.chkey1 %>
</p>

<p>
  <b>Mkey1:</b>
  <%= @report.mkey1 %>
</p>

<p>
  <b>Ptname1:</b>
  <%= @report.ptname1 %>
</p>

<p>
  <b>Ekey1:</b>
  <%= @report.ekey1 %>
</p>

<p>
  <b>Blkey1:</b>
  <%= @report.blkey1 %>
</p>

<p>
  <b>Bts1:</b>
  <%= @report.bts1 %>
</p>

<p>
  <b>Bls1:</b>
  <%= @report.bls1 %>
</p>

<p>
  <b>Btn1:</b>
  <%= @report.btn1 %>
</p>

<p>
  <b>Blp1:</b>
  <%= @report.blp1 %>
</p>

<p>
  <b>Lk1:</b>
  <%= @report.lk1 %>
</p>

<p>
  <b>Lnk1:</b>
  <%= @report.lnk1 %>
</p>

<p>
  <b>Bskey1:</b>
  <%= @report.bskey1 %>
</p>

<p>
  <b>Spkey1:</b>
  <%= @report.spkey1 %>
</p>

<p>
  <b>Pckey1:</b>
  <%= @report.pckey1 %>
</p>

<p>
  <b>Ankey1:</b>
  <%= @report.ankey1 %>
</p>

<p>
  <b>Group1:</b>
  <%= @report.group1 %>
</p>

<p>
  <b>Group2:</b>
  <%= @report.group2 %>
</p>

<p>
  <b>Metric:</b>
  <%= @report.metric %>
</p>

<p>
  <b>Lxm:</b>
  <%= @report.lxm %>
</p>

<p>
  <b>Lxb:</b>
  <%= @report.lxb %>
</p>

<p>
  <b>Fxb:</b>
  <%= @report.fxb %>
</p>

<p>
  <b>Fq:</b>
  <%= @report.fq %>
</p>

<p>
  <b>Vid:</b>
  <%= @report.vid %>
</p>

<p>
  <b>Reportname:</b>
  <%= @report.reportname %>
</p>

<p>
  <b>Bp1:</b>
  <%= @report.bp1 %>
</p>


<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
