<!DOCTYPE html>
<html>
<head>
<link rel="cric.it.down" href="/favicon.ico" />
  <title>CricketAnalysis</title>
  <%= stylesheet_link_tag  "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart']});
	  google.load('visualization', '1', {'packages': ['geochart']});
	  google.load('visualization', '1', {packages: ['table']});
</script>
</head>

<body>
<script src="http://192.168.1.117:1212/socket.io/socket.io.js"></script> 
<script>
	var socket = io.connect('http://192.168.1.117:1212');
	socket.on('news', function (data) {
		console.log(data);
	});
	socket.on('bat_score', function(data){
			var clientkey = $('.scorecard_clientkey').html();
			var matchkey = $('.scorecard_matchkey').html();
			if (clientkey == data['clientkey'] && matchkey==data['matchkey']){
				if (data['inning']== '1'){
					
					var strikerate = (parseFloat(data['strikerate'])*100).toFixed(1)
					$('[data-key="'+data['matchkey']+'_inning1_'+data['batsmankey']+'"]').html('<td class="p_Batting_summary_1" style="width:100px;">'+data['batsman']+'</td><td class="p_Batting_summary_1">'+data['outtype']+'</td><td class="p_Batting_summary_1">'+data['fielder']+'</td><td class="p_Batting_summary_1">'+data['bowler']+'</td><td class="p_Batting_summary_1">'+data['runs']+'</td><td class="p_Batting_summary_1">'+data['ballsfaced']+'</td><td class="p_Batting_summary_1">'+data['zeros']+'</td><td class="p_Batting_summary_1">'+strikerate+'%</td><td class="p_Batting_summary_1">'+data['fours']+'</td><td class="p_Batting_summary_1">'+data['sixes']+'</td>');					
					var hilite_ns = '';
					if (data['hilite']== 'hilite')
						hilite_ns = 'hilite-nonstriker'
					else{
						hilite_ns = 'hilite'
					}
					
					$('.tbl_firstInning_'+data['matchkey']).children('tbody').children('tr').removeAttr('class');
					
					$('[data-key="'+data['matchkey']+'_inning1_'+data['batsmankey']+'"]').removeAttr('class');
					$('[data-key="'+data['matchkey']+'_inning1_'+data['nonstrikerkey']+'"]').removeAttr('class');
					$('[data-key="'+data['matchkey']+'_inning1_'+data['batsmankey']+'"]').addClass(data['hilite']);
					$('[data-key="'+data['matchkey']+'_inning1_'+data['nonstrikerkey']+'"]').addClass(hilite_ns);
					$('[data-key="'+data['matchkey']+'_inning1_'+data['batsmankey']+'"]').fadeTo("slow", 0.33);
					$('[data-key="'+data['matchkey']+'_inning1_'+data['batsmankey']+'"]').fadeTo("slow", 1.0);
					$('[data-key="'+data['matchkey']+'_inning1_'+data['batsmankey']+'"]').attr('data-pos',data['position']);
					
					
					$('.tbl_bat_firstInning_'+data['matchkey']).append($('.tbl_bat_firstInning_'+data['matchkey']).children('tbody').children('tr').get().sort(function(a, b) {
						return parseInt($(a).attr("data-pos")) - parseInt($(b).attr("data-pos"));
					}));
					
				}
				else{
					var strikerate = (parseFloat(data['strikerate'])*100).toFixed(1)
					$('[data-key="'+data['matchkey']+'_inning2_'+data['batsmankey']+'"]').html('<td class="p_Batting_summary_2" style="width:100px;">'+data['batsman']+'</td><td class="p_Batting_summary_2">'+data['outtype']+'</td><td class="p_Batting_summary_2">'+data['fielder']+'</td><td class="p_Batting_summary_2">'+data['bowler']+'</td><td class="p_Batting_summary_2">'+data['runs']+'</td><td class="p_Batting_summary_2">'+data['ballsfaced']+'</td><td class="p_Batting_summary_2">'+data['zeros']+'</td><td class="p_Batting_summary_2">'+strikerate+'%</td><td class="p_Batting_summary_2">'+data['fours']+'</td><td class="p_Batting_summary_2">'+data['sixes']+'</td>');					
					var hilite_ns = '';
					if (data['hilite']== 'hilite')
						hilite_ns = 'hilite-nonstriker'
					else{
						hilite_ns = 'hilite'
					}
					
					$('.tbl_secondInning_'+data['matchkey']).children('tbody').children('tr').removeAttr('class');
					
					$('[data-key="'+data['matchkey']+'_inning2_'+data['batsmankey']+'"]').removeAttr('class');
					$('[data-key="'+data['matchkey']+'_inning2_'+data['nonstrikerkey']+'"]').removeAttr('class');
					$('[data-key="'+data['matchkey']+'_inning2_'+data['batsmankey']+'"]').addClass(data['hilite']);
					$('[data-key="'+data['matchkey']+'_inning2_'+data['nonstrikerkey']+'"]').addClass(hilite_ns);
					$('[data-key="'+data['matchkey']+'_inning2_'+data['batsmankey']+'"]').fadeTo("slow", 0.33);
					$('[data-key="'+data['matchkey']+'_inning2_'+data['batsmankey']+'"]').fadeTo("slow", 1.0);
					$('[data-key="'+data['matchkey']+'_inning2_'+data['batsmankey']+'"]').attr('data-pos',data['position']);
					
					
					$('.tbl_bat_secondInning_'+data['matchkey']).append($('.tbl_bat_secondInning_'+data['matchkey']).children('tbody').children('tr').get().sort(function(a, b) {
						return parseInt($(a).attr("data-pos")) - parseInt($(b).attr("data-pos"));
					}));
				
				}
			}
	});
	
	socket.on('bowl_score', function(data){
			var clientkey = $('.scorecard_clientkey').html();
			var matchkey = $('.scorecard_matchkey').html();
			if (clientkey == data['clientkey'] && matchkey==data['matchkey']){
				if (data['inning']== '1'){
					var economy = (parseFloat(data['economy'])).toFixed(1)
					$('[data-key="'+data['matchkey']+'_inning1_'+data['bowlerkey']+'"]').html('<td class="p_Bowling_summary_1">'+data['bowler']+'</td><td class="p_Bowling_summary_1">'+data['overs']+'</td><td class="p_Bowling_summary_1">'+data['runs']+'</td><td class="p_Bowling_summary_1">'+data['maidens']+'</td><td class="p_Bowling_summary_1">'+data['wickets']+'</td><td class="p_Bowling_summary_1">'+economy+'</td><td class="p_Bowling_summary_1">'+data['fours']+'</td><td class="p_Bowling_summary_1">'+data['sixes']+'</td><td class="p_Bowling_summary_1">'+data['wides']+'</td><td class="p_Bowling_summary_1">'+data['noballs']+'</td>');					
					
					$('.tbl_bowl_firstInning_'+data['matchkey']).children('tbody').children('tr').removeAttr('class');					
					$('[data-key="'+data['matchkey']+'_inning1_'+data['bowlerkey']+'"]').addClass(data['hilite']);
					$('[data-key="'+data['matchkey']+'_inning1_'+data['bowlerkey']+'"]').fadeTo("slow", 0.33);
					$('[data-key="'+data['matchkey']+'_inning1_'+data['bowlerkey']+'"]').fadeTo("slow", 1.0);
					
					$('[data-key="'+data['matchkey']+'_inning1_'+data['bowlerkey']+'"]').attr('data-pos',data['position']);
					
					$('.tbl_bowl_firstInning_'+data['matchkey']).append($('.tbl_bowl_firstInning_'+data['matchkey']).children('tbody').children('tr').get().sort(function(a, b) {
						return parseInt($(a).attr("data-pos")) - parseInt($(b).attr("data-pos"));
					}));
					
					
					//get the counter number from td data-counter.
					//if counter is undefined set it as 1
					//while counter < 18, keep adding 1 for the prepended td
					//once counter>=18, remove the first element and prepend one in the front so that there is always a stack of 18
					
					var counter = $('#last18balls_1 table tr td:first').attr('data-counter');
					console.log(counter);
					if (counter == undefined){
						$('#last18balls_1 table tr').prepend('<td class="last_18_cell_1" data-counter=1>'+data['last_run']+'</td>');
					}
					else{
						if (parseInt(counter)<18){
							if (parseInt(counter)%6==1){
								$('#last18balls_1 table tr').prepend('<td class="last_18_cell_1" style="border-right:1px solid black" data-counter='+parseInt(parseInt(counter)+1)+'>'+data['last_run']+'</td>');
							}
							else{
								$('#last18balls_1 table tr').prepend('<td class="last_18_cell_1" data-counter='+parseInt(parseInt(counter)+1)+'>'+data['last_run']+'</td>');
							}
						}
						
						if (parseInt(counter)>=18){
							$('#last18balls_1 table tr td:last').remove();
							if (parseInt(counter)%6==1){
								$('#last18balls_1 table tr').prepend('<td class="last_18_cell_1" style="border-right:1px solid black" data-counter='+parseInt(parseInt(counter)+1)+'>'+data['last_run']+'</td>');
							}
							else{
								$('#last18balls_1 table tr').prepend('<td class="last_18_cell_1" data-counter='+parseInt(parseInt(counter)+1)+'>'+data['last_run']+'</td>');
							}	
						}	
					}
				}
				else{
					var economy = (parseFloat(data['economy'])).toFixed(1)
					$('[data-key="'+data['matchkey']+'_inning2_'+data['bowlerkey']+'"]').html('<td class="p_Bowling_summary_2">'+data['bowler']+'</td><td class="p_Bowling_summary_2">'+data['overs']+'</td><td class="p_Bowling_summary_2">'+data['runs']+'</td><td class="p_Bowling_summary_2">'+data['maidens']+'</td><td class="p_Bowling_summary_2">'+data['wickets']+'</td><td class="p_Bowling_summary_2">'+economy+'</td><td class="p_Bowling_summary_2">'+data['fours']+'</td><td class="p_Bowling_summary_2">'+data['sixes']+'</td><td class="p_Bowling_summary_2">'+data['wides']+'</td><td class="p_Bowling_summary_2">'+data['noballs']+'</td>');					
					
					$('.tbl_bowl_secondInning_'+data['matchkey']).children('tbody').children('tr').removeAttr('class');					
					$('[data-key="'+data['matchkey']+'_inning2_'+data['bowlerkey']+'"]').addClass(data['hilite']);
					$('[data-key="'+data['matchkey']+'_inning2_'+data['bowlerkey']+'"]').fadeTo("slow", 0.33);
					$('[data-key="'+data['matchkey']+'_inning2_'+data['bowlerkey']+'"]').fadeTo("slow", 1.0);
					
					$('[data-key="'+data['matchkey']+'_inning2_'+data['bowlerkey']+'"]').attr('data-pos',data['position']);
					
					$('.tbl_bowl_secondInning_'+data['matchkey']).append($('.tbl_bowl_secondInning_'+data['matchkey']).children('tbody').children('tr').get().sort(function(a, b) {
						return parseInt($(a).attr("data-pos")) - parseInt($(b).attr("data-pos"));
					}));
					
					
					//get the counter number from td data-counter.
					//if counter is undefined set it as 1
					//while counter < 18, keep adding 1 for the prepended td
					//once counter>=18, remove the first element and prepend one in the front so that there is always a stack of 18
					
					var counter = $('#last18balls_2 table tr td:first').attr('data-counter');
					console.log(counter);
					if (counter == undefined){
						$('#last18balls_2 table tr').prepend('<td class="last_18_cell_2" data-counter=1>'+data['last_run']+'</td>');
					}
					else{
						if (parseInt(counter)<18){
							if (parseInt(counter)%6==1){
								$('#last18balls_2 table tr').prepend('<td class="last_18_cell_2" style="border-right:1px solid black" data-counter='+parseInt(parseInt(counter)+1)+'>'+data['last_run']+'</td>');
							}
							else{
								$('#last18balls_2 table tr').prepend('<td class="last_18_cell_2" data-counter='+parseInt(parseInt(counter)+1)+'>'+data['last_run']+'</td>');
							}
						}
						
						if (parseInt(counter)>=18){
							$('#last18balls_2 table tr td:last').remove();
							if (parseInt(counter)%6==1){
								$('#last18balls_2 table tr').prepend('<td class="last_18_cell_2" style="border-right:1px solid black" data-counter='+parseInt(parseInt(counter)+1)+'>'+data['last_run']+'</td>');
							}
							else{
								$('#last18balls_2 table tr').prepend('<td class="last_18_cell_2" data-counter='+parseInt(parseInt(counter)+1)+'>'+data['last_run']+'</td>');
							}	
						}	
					}
				}
			}
	});
	
	socket.on('score', function(data){
		var clientkey = $('.scorecard_clientkey').html();
		var matchkey = $('.scorecard_matchkey').html();
		if (clientkey == data['clientkey'] && matchkey == data['matchkey']){
			if(data['inning']=='1'){
				$('[data-score="'+clientkey+'_'+matchkey+'_1"]').html('Score:'+data['score']+'/'+data['wg']+'<br/>Overs:'+data['to']+'</div>');
				var cmi = $('.cmi').html();
				if (cmi != undefined){
					socket.emit('cmi', cmi);
				}
			}
			else{
				$('[data-score="'+clientkey+'_'+matchkey+'_2"]').html('Score:'+data['score']+'/'+data['wg']+'<br/>Overs:'+data['to']+'</div>');
				var cmi = $('.cmi').html();
				if (cmi != undefined){
					socket.emit('cmi', cmi);
				}
			}
		}

	});
</script>





<div id="logo"><%= link_to image_tag('/assets/logo.png'), home_path %></div>

<h5 id="navigation_bar">
	<div class="tab">
		<table cellspacing="0" cellpadding="2">
			<tr>
				<td></td>
				<td class="tab_item"><%= link_to 'Home', home_path %></td>
				<td class="tab_item"><%= link_to 'Analysis', analysis_path %></td>
				<td class="tab_item"><%= link_to 'Reports', reports_path %></td>
				<td class="tab_item"><%= link_to 'Setup', new_country_path %></td>
				<td class="tab_item"><%= link_to 'Upload', new_external_path %></td>
			</tr>
		</table>
	</div>

	<div class="user">
		<table cellspacing="0" cellpadding="2">
			<tr>
				<td></td>
				<td class="user_item">user: <%= @current_client %></td>
				<td class="user_item"><%= link_to 'Sign Out', signout_path %></td>
				<td class="user_item"><%= link_to 'Change Password', change_password_path %></td>
			</tr>
		</table>
	</div>


	<div style="clear: both;"></div>

</h5>

<div id="trial"><% if signed_in? %>
					<div id="days">
						<% if current_user.actype == 'Temp' %>
							<br/>
							<%= ((Time.now - current_user.created_at)/3600/24).to_i %>
						<% end %>
					</div>
					<div id="accounttype" style="display:none"><%= current_user.actype %></div>
				<% end %>
</div>


<div id="centralnav">
	<table class="ctabl">
		<tr>
			<td class="cnav"><%= link_to 'Countries' , countries_path %></td>
			<td class="cnav"><%= link_to 'Tournaments' , tournaments_path %></td>
			<td class="cnav"><%= link_to 'Players' , players_path %></td>
			<td class="cnav"><%= link_to 'Managers' , managers_path %></td>
			<td class="cnav"><%= link_to 'Coaches' , coaches_path %></td>
			<td class="cnav"><%= link_to 'Teams' , teams_path %></td>
			<td class="cnav"><%= link_to 'Venues' , venues_path %></td>
			<td class="cnav"><%= link_to 'Matches' , matches_path %></td>
		</tr>
	</table>
</div>

<%= yield %>

<script>
	var cmi = $('.cmi').html();
	if (cmi != undefined){
		socket.emit('cmi', cmi);
	}
</script>


</body>
</html>

