<!DOCTYPE html>
<html>
<head>
<link rel="cric.it.down" href="/favicon.ico" />
  <title>CricketAnalysis</title>
  <%= stylesheet_link_tag  "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart']});
	  google.load('visualization', '1', {'packages': ['geochart']});
	  google.load('visualization', '1', {packages: ['table']});
</script>
</head>

<body>

<div id="logo"><%= link_to image_tag('/assets/logo.png'), home_path %></div>

<h5 id="navigation_bar">
	<div class="tab">
		<table cellspacing="0" cellpadding="2">
			<tr>
				<td></td>
				<td class="tab_item"><%= link_to 'Home', home_path %></td>
				<td class="tab_item"><%= link_to 'Analysis', analysis_path %></td>
				<td class="tab_item"><%= link_to 'Setup', new_country_path %></td>
			</tr>
		</table>
	</div>

	<div class="user">
		<table cellspacing="0" cellpadding="2">
			<tr>
				<td></td>
				<td class="user_item">user: <%= @current_client %></td>
				<td class="user_item"><%= link_to 'Sign Out', signout_path %></td>
				<td class="user_item"><%= link_to 'Change Password', change_password_path %></td>
			</tr>
		</table>
	</div>


	<div style="clear: both;"></div>

</h5>

<div id="trial"><% if signed_in? %>
					<div id="days">
						<% if current_user.actype == 'Temp' %>
							<br/>
							<%= ((Time.now - current_user.created_at)/3600/24).to_i %>
						<% end %>
					</div>
					<div id="accounttype" style="display:none"><%= current_user.actype %></div>
				<% end %>
</div>


<div id="centralnav">
	<table class="ctabl">
		<tr>
			<td class="cnav"><%= link_to 'Countries' , countries_path %></td>
			<td class="cnav"><%= link_to 'Tournaments' , tournaments_path %></td>
			<td class="cnav"><%= link_to 'Players' , players_path %></td>
			<td class="cnav"><%= link_to 'Managers' , managers_path %></td>
			<td class="cnav"><%= link_to 'Coaches' , coaches_path %></td>
			<td class="cnav"><%= link_to 'Teams' , teams_path %></td>
			<td class="cnav"><%= link_to 'Venues' , venues_path %></td>
			<td class="cnav"><%= link_to 'Matches' , matches_path %></td>
		</tr>
	</table>
</div>

<%= yield %>
<script>
function onFailSoHard(e){
	
	if(e.code==1){
		alert('User denied access to their camera');
	}
	else{
		alert('getUserMedia() not supported in your browser.');
	}
}

(function(){
	var video=document.querySelector('#basic-stream');
	var button=document.querySelector('#capture-button');
	var localMediaStream=null
	if (button){
		button.addEventListener('click',function(e){
			if(navigator.getUserMedia){
				navigator.getUserMedia('video',function(stream){
					video.src=stream;
					video.controls=true;
					localMediaStream=stream;
				},onFailSoHard);
			}
			else if(navigator.webkitGetUserMedia){
				alert('i m here');
				navigator.webkitGetUserMedia({video:true},function(stream){
					video.src=window.webkitURL.createObjectURL(stream);
					video.controls=true;localMediaStream=stream;
				},onFailSoHard);
			}
			else{
				onFailSoHard({target:video});
			}
		},false);
		

		document.querySelector('#stop-button').addEventListener('click',function(e){
			video.pause();
			localMediaStream.stop();
			//recorder.getRecordedData(function(blob){
			//	 fs.root.getFile('blob', {create: true}, function(fileEntry) {
			//		console.log('blob has been created');

			//	}, function(e){
			//		console.log('blob has not been created');
			//	});
			//});
		},false);
	}
})();

</script>
</body>
</html>

